<%= form_for( @library, remote: true ) do |f| %>

	<% if @library.errors.any? %>
		<div id="error_expl">
		  <h2>
			<%= pluralize(@library.errors.count, "error") %> prohibited this library from being saved:
		  </h2>
		  <ul>
			<% @library.errors.full_messages.each do |msg| %>
			  <li><%= msg %></li>
			<% end %>
		  </ul>
		</div>
	<% end %>

	<%= f.label :name, "Name:" %>
	<%= f.text_field :name %><br />
	
	<%= f.label :location, "Location:" %>
	<%= f.text_field :location %><br />
	
	<%= f.submit %>
<% end %>