<%= render partial: 'shared/header', locals: { section: "Library Admin" } %>
<section>
	<div id="main_content">
		<div class="Button AddBtn"><%= link_to 'Add New', new_library_path, remote: true %></div>
		<h1>Available Libraries</h1>
		<div id="library_listing">
			<% @libraries.each do |library| %>
				<%= render partial: 'listitem', locals: { library: library } %>
			<% end %>
		</div>
	</div>
</section>
<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/lightbox' %>