<%= render partial: 'shared/header', locals: { section: "Library Admin" } %>
<section>
	<div id="main_content">
		<div class="Button BackBtn"><%= link_to 'Back', libraries_path %></div>
		<div class="Button AddBtn"><%= link_to '+ Book', booklist_library_path, remote: true %></div>
		<h1><%= @library.name %></h1>
		<h2><%= @library.location %></h2>
		<div class="LeftColumn">
			<h3>Books Available</h3>
			<%= render partial: 'listbooks' %>
		</div>
		<div class="RightColumn">
			<h1>Most Popular Books</h1>
			<ol>
				<% @cataloglist.each do |catalog| %>
					<li>
						<span class="ListingTitle"><%= catalog.book.title %></span><br />
						<span class="ListingSubtitle">Searched <%= pluralize catalog.search_count, "time" %></span>
					</li>
				<% end %>
			</ol>
		</div>
	</div>
</section>
<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/lightbox' %>