<div class="ListingRow" id="list_item_<%= book.id %>">
	<div class="Button RemoveBtn"><%= link_to 'Remove', book_path(book), remote: true, data: { confirm: 'Are you sure you want to remove this book?' }, method: :delete %></div>
	<div class="Button EditBtn"><%= link_to 'Edit', edit_book_path(book), remote: true %></div>
	<span class="ListingTitle"><%= link_to book.title, book_path(book) %></span><br />
	<span class="ListingSubtitle">ISBN: <%= book.isbn %></span>
</div>