<%= render partial: 'shared/header', locals: { section: "Book Admin" } %>
<section>
	<div id="main_content">
		<% unless @from_search %>
			<div class="Button BackBtn"><%= link_to 'Back', books_path %></div>
		<% else %>
			<div class="Button BackBtn"><%= link_to 'Back', search_path(search: @search_term, libraryid: @library_id), method: :post %></div>
		<% end %>
		<div class="Button AddBtn"><%= link_to '+ Library', librarylist_book_path, remote: true %></div>
		<h1><%= @book.title %></h1>
		<h2>ISBN: <%= @book.isbn %></h2>
		<h3>Libraries Where Available</h3>
		<%= render partial: 'listlibraries' %>
	</div>
</section>
<%= render partial: 'shared/footer' %>
<%= render partial: 'shared/lightbox' %>